@import "normalize.less";
@import "default.less";

html{
	font-family: "Open Sans";
}
body{
	width: 100%;
	margin: 0 auto;
	background-color: rgb(240,240,240);
}

header{
	background-color: rgb(50,50,50);
	color: white;

	.span12{
		margin: 30px 0 20px 0;
	}

	i{
		top: -4px;
		position: relative;
		font-size: 28px;
	}

	h1{
		font-family: "Open Sans";
		font-size: 28px;
		font-weight: 300;
		display: inline;
		color: white;
	}
}

footer{
	background-color: orange;
}
.view{
	padding: 10px;
	text-align: center;
	min-height: 200px;
}

.box{
	background-color: white;
	border: 1px solid black;
	width: 470px;
	margin: 0 auto;
	padding: 20px;
	position: absolute;
	top: -400px;
	margin-bottom: -200px;

}

.box form{
	margin-top: 30px;
}

#options form{
	text-align: left;
	width: 500px;
	margin: 0 auto;
}

#groups .table{
	width: 500px;
	margin: 0 auto;
}

#groups .table td+td{
	text-align: right;
}

.row{
	max-width: 1000px;
	margin: 0 auto;
}