<div ng-include="'partials/userInfo.html'"></div>
<h1 id="hm-title">Hungry Much</h1>
<div class="center">
  <div>
    <span class="lighter">Group:&nbsp;&nbsp;</span>{{user.belongsTo.name}}
  </div>
  <div ng-show"user.belongsTo" class="spaced">
    <button ng-click="sayImHungry()" class="big" ng-class="{red: !isHungry(), green: isHungry()}" ng-disabled="isHungry()">
      <span ng-if="!isHungry()">I'm hungry</span>
      <span ng-if="isHungry()"><i class="icon-ok"></i></span>
    </button>
  </div>
  <footer>
    <a class="button" ng-href="#/groups">Join Group</a>
    <a class="button" ng-href="#/users/me/creategroup">Create Group</a>
  </footer>
</div>