article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*woo custom reste*/

*:focus,
*:focus {
  outline: none !important;
}
/* vars */
/*         all pages
*********************************/

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #444444 url("../img/bg-texture.png") center top;
}
a {
  color: #f9f9f9;
}
input {
  display: inline-block;
  width: 200px;
  height: 26px;
  padding: 4px 12px;
  background: #f1f1f1;
  border: none;
  border-radius: 3px;
  color: #222222;
}
button,
.button {
  width: 224px;
  height: 32px;
  background: #75c04e;
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 0 6px;
  line-height: 32px;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  opacity: .9;
  text-decoration: none;
}
button.red,
.button.red {
  background-color: #f94c4c;
}
button.big,
.button.big {
  height: 190px;
  width: 190px;
  line-height: 140px;
  font-size: 36px;
  border-radius: 112px;
  box-shadow: 0px -8px 0px 0px #b73333 inset;
}
/*messages*/

.message {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}
.small {
  font-size: 12px;
}
.lighter {
  opacity: .7;
}
.center {
  text-align: center;
}
.spaced {
  margin: 20px 0;
}
/*  burger
****************/

#hm-title {
  text-align: center;
  min-height: 120px;
  font-size: 26px;
  background: url("../img/burger.png") center bottom no-repeat;
  margin-bottom: 32px;
  font-weight: 700;
}
/* top bar & footer
***********************/

#top-bar,
footer {
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 14px;
  padding: 12px 26px;
}
#top-bar button,
footer button,
#top-bar .button,
footer .button {
  display: block;
  height: 26px;
  line-height: 26px;
  background-color: #555555;
  float: right;
  width: auto;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
}
footer button,
footer .button {
  float: left;
  margin: 0 0 0 26px;
}
ul {
  width: 380px;
}
ul button {
  width: auto;
}
form {
  padding: 20px;
  font-size: 18px;
  line-height: 26px;
}
form > div {
  margin-bottom: 20px;
  text-align: center;
}
