<!doctype html>
<html lang="en" ng-app="hungryMuch" ng-csp="">
  <head>
    <meta charset="UTF-8">
    <title>HungryMuch</title>
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300,400italic,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/base.css" />

    <script src="lib/angular/angular.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body ng-controller="main">
    
    <form ng-if="!user" id="login-form">
      <input type="email" ng-model="authentication.email"/>
      <input type="password" ng-model="authentication.password"/>
      <button ng-click="signIn()" ng-disabled="loading">Sign In</button>
    </form>
    
    <div ng-if="user">
      {{user.name}}
      <button ng-click="signalImHungry()">I'm hungry</button>
    </div>
  </body>
</html>